.App { 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;  
  align-items: center; 
  /* background-color:lightcyan;  */
  height:100vh; 
  background-color:black; 
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.componentsDiv {
  margin-top: 5%;  
  width:fit-content; 
  box-shadow: 5px 5px 10px 5px gray; 
  padding: 2%; 
  border:2px solid gray; 
  border-radius: 4px; 
  background-image: url("./Images/todobg2.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover;   
}  



